*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html,
body{
    font-family: sans-serif;
    font-weight: 300px;
    line-height: 1.4;

}







.container{
    max-width: 1200px;
    margin: 0 auto;
   
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}
header{
    background-color: #270082;
    position: sticky;
    top: 0;
    z-index: 100px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}
nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    color: white;
}
nav ul{
    display: flex;
    gap: 20px;
}
.logo{
    font-size: 32px;
    font-weight: 600px;

}
nav ul li{
    border-bottom: 2px solid transparent;
    transition: 0.2s ease-in;
}
nav ul li:hover{
    border-bottom: 2px solid white;  
}
.hero{
    background-image: url(music.jpg);
    height: 100vh;
    display: grid;
    color: white;
    place-items: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.hero .box{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hero h1{
    font-size: 50px;
}
.hero h3{
    font-size: 25px;
}
.hero p{
    font-family: sans-serif;
}
.music-section{
    padding-top: 50px;
    background-color: #281154;
}
.music-section .container2{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    color: white;
    
}
.phone{
    position: relative;
    top: 400px;
    margin-top: -400px;
}
button{
    padding: 10px 15px;
    border: none;
    transition: 0.2s ease-in;
}
button:hover{
    background-color: red;
    color: white;
    opacity: 0.5;
}
p{
    text-align: center;
    justify-content: center;
}
.secondary-btn{
    background-color: #270082;
    color: white;

}
.secondary-btn:hover{
    background-color: red;
    opacity: 30;
    border-radius: 30px;
}
.about-music{
    padding-top: 500px;
    display: grid;
    place-items: center;
}
.about-music{
    padding-top: 500px;
    display: grid;
    place-items: center; 
    gap: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.video{
    background-image: url(omg.jpg) ;
    min-height: 800px;
    display: grid;
    place-items: center;
    color: white;
    text-align: center;
    background-size: cover;
    background-position: center;

}
.video .text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: -200px;
}
button{
    text-align: center;
}

@media (max-width:760px){
    nav ul{
        display: none;
    }

}
